.frame-8 {
    width: 100%;
    max-width: 1180px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: clamp(24px, 3vw, 40px);
}

.steps-text {
    width: 100%;
    max-width: 580px;
    flex: 1 1 500px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    
}

.step {
    align-self: stretch;
    padding: 20px;
    border-radius: 20px;
    outline: 1px #60724F solid;
    outline-offset: -1px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: flex;
}

.step-number {
    width: 60px;
    padding: 4px 12px;
    background: #60724F;
    border-radius: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
}

.step-num-text {
    text-align: center;
    color: white;
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 600;
    line-height: clamp(19px, 3vw, 24px);
}

.step-title {
    align-self: stretch;
    color: black;
    font-size: clamp(18px, 2.5vw, 20px);
    font-weight: 600;
    line-height: 1.2;
    align-content: center;
}

.step-desc {
    align-self: stretch;
    color: black;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 400;
    line-height: 1.5;
}

.steps-image {
    width: 100%;
    max-width: 580px;
    align-self: stretch;
    border-radius: 20px;
    object-fit: cover;
    flex: 1 1 500px;
}

/* Медиа-запросы для steps */
@media (max-width: 768px) {
    .frame-8 {
        flex-direction: column;
    }
    
    .steps-image {
        width: 100%;
        max-width: 100%;
    }
}

/* Отступ между основной частью и кнопкой */
.section:has(.frame-8) .btn.btn-large {
    margin-top: clamp(24px, 3vw, 40px);
}

